<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzeria - Lista Pizze</title>
    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" />
</head>

<body>
    <div th:replace="~{ fragments/navbar :: navbar }"></div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <p>ecco la lista delle pizze</p>
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
</body>

</html>